*{
  margin:0;
  padding: 0;
}

.servicios{
  position: relative;
  width: 100%;
  height: 50rem;
}

.container {
  position: relative;
  width: 18rem;
  height: 30rem;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 13rem;
}
.div-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.div-img .hidden {
  overflow: hidden;
}
.div-img .img {
  margin-left: auto;
  margin-right: auto;
  margin-top:8rem;
  width: 100%;
  height: 300px;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {

  font-family: "Raleway", sans-serif;
  position: absolute;
  z-index: -1;
  bottom: 4rem;
  width: 100%;
  text-align: center;
  color:#329d17;
}
.div-img:hover .img {
  transform: translate(0px, -170px);
  -ms-transform: translate(0px, -170px);
  -moz-transform: translate(0px, -170px);
  -webkit-transform: translate(0px, -170px);
  -o-transform: translate(0px, -170px);
}

.div-img h3{
  text-align: center;
  top: 3rem;
  color:rgba(11, 51, 8, 0.76);
  font-family: "open sans", sans-serif;
  font-size: 1.5rem;
}

#titulo-servicios{
  position: absolute;
  top:4rem;
  left: 40%;
  font-weight: bold;
  font-size: 4rem;
  font-family: "open sans", sans-serif;
  color: rgba(19, 27, 140, 0.87);
}


footer{
  position: relative;
  top: 20rem;
  height: 6rem;
  width: 100%;
  background: rgba(19, 27, 140, 0.87);
}

.central{
  width: 20rem;
  margin-left: 25rem;
  text-align: center;
  padding-top: 0.5rem;
}

.central img{
  width:4rem;
}

.central p{
  position: absolute;
  padding: 2rem;
  display: inline-block;
  color:  #5BB7E7;
}

.redes{
  position: absolute;
  padding: 1rem;
  color:#5BB7E7;
  font-size: 1.5rem;
  top: 1.5rem;
  bottom: 2rem;
  right: 2rem;
}
