*{
  margin:0;
  padding: 0;
}

#servicios{
  width: 100%;
  height: 40rem;
  background: pink;
  padding: 1rem;
}

.servicios{

  background: lightgray;
  width: 20%;
  height: 25rem;
  display:inline-block;
  vertical-align: top;
  margin-top:2rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition: all 1s ease;
}

.servicios span:hover{
  padding-top: 1rem;

  webkit-transform:scale(1.1);

  -webkit-transition:all 0.5s ease-in-out;
}

article.servicios {
    position: relative;
}

#servicios img{
  width: 13rem;
  margin-top: 10rem;
}

#servicios h2{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

#icon-home,
#icon-school,
#icon-scissors,
#icon-cool2{
  position: absolute;
  font-size: 5rem;
  color:#10122E;
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
  left: 6rem;
  cursor: pointer;
}

.parrafo{
  position: absolute;
  color:#4BAE4F;
  font-family:"Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5rem;

}

#hospedaje-guarderia{
  top: 8rem;
  left: 4rem;
}

#adiestramiento{
  top: 8rem;
  left: 4rem;
}

#grooming{
  top: 8rem;
  left: 5rem;
}
#moda-canina{
  top: 8rem;
  left: 4.5rem;
}

#transicion-hospedaje{
  display: none;
  position: absolute;
  top:3rem;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color:#10122E;
  font-size: 1.5rem;
  }
#transicion-adiestramiento{
  display: none;
  position: absolute;
  top:2rem;
  left: 0.9rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color:#10122E;
  font-size: 1.5rem;
  }
#transicion-grooming{
  display: none;
  position: absolute;
  top:5rem;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color:#10122E;
  font-size: 1.5rem;
}
#transicion-moda{
  display: none;
  position: absolute;
  top:5rem;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color:#10122E;
  font-size: 1.5rem;
  }
article i.fa{
  position: absolute;
  left:7rem;
  top:17rem;
  font-size: 4rem;
}
