*{
  margin:0;
  padding: 0;
}

.quienes-somos{
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url("../img/perros_portada.png");
  background-repeat: no-repeat;
  background-position: 27rem 6rem;
  top: 5rem;
}

.quienes-somos .texto{
  position: absolute;
  width: 35rem;
  height: 17rem;
  left: 5rem;
  top: 4rem;
  background-color: #10122E;
  color:#FFF;
  border-radius: 1rem;
}

.colita{
  
}
